<h1>Добавить Курсы</h1>
<form action="/add" method="POST">
    <div class="input-field">
        <input id="Title" name="title" type="text" class="validate" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>

     <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required>
        <label for="price">Цена курса</label>
         <span class="helper-text" data-error="Введите цену"></span>
    </div>
   
     <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL Картинки</label>
         <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <button class="btn btn-primary">Добавить курс</button>
</form>