<h1>Курсы</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action actions">
                <a href="/courses/{{_id}}" target="_blank">Открыть курс</a>
                {{#if @root.isAuth}}
                <a href="/courses/{{_id}}/edit?allow=true">Редактировать</a>
                <form action="/card/add" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn btn-primary">Купить</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>Курсы ещё в разработке</p>
{{/if}}