<h1>{{title}}</h1>
<form action="/courses/edit" method="POST" class="course-edit">
    <div class="input-field">
        <input id="Title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">URL Картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>
    <input type="hidden" name="id" value="{{course._id}}">
    <button type= "submit" class="btn btn-primary">Редактировать курс</button>
</form>

<form action="/courses/remove" method="POST">
<input type="hidden" name="id" value="{{course._id}}">
<button class="btn red">Удалить курс</button>
</form>